<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Trends</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function runScript() {
            $.get('/run-script', function(data) {
                $('#result').html(`
                    <p>These are the most happening topics as on ${data.timestamp}</p>
                    <ul>
                        ${data.trends.map(trend => `<li>${trend}</li>`).join('')}
                    </ul>
                    <p>The IP address used for this query was ${data.ip_address}</p>
                    <pre>${JSON.stringify(data, null, 4)}</pre>
                    <button onclick="runScript()">Click here to run the query again</button>
                `);
            });
        }
    </script>
</head>
<body>
    <button onclick="runScript()">Click here to run the script</button>
    <div id="result"></div>
</body>
</html>
